# Pluggy Credentials (DEV/DEMO)
PLUGGY_CLIENT_ID=eaafbe7b-ec03-4965-aea1-e8923777354f
PLUGGY_CLIENT_SECRET=bf9992b4-b650-453e-a92e-8d43d41179a4
PLUGGY_WEBHOOK_SECRET=<gerar um secret HMAC - pendente>
PLUGGY_WEBHOOK_URL=https://api.nextgenassets.com.br/v1/admin/webhooks/pluggy-alias
PLUGGY_API_BASE=https://api.pluggy.ai
