# Klavi (Open Finance) - SUBSTITUI Pluggy
KLAVI_API_URL=https://api-sandbox.klavi.ai
KLAVI_ACCESS_KEY=EC07884E-FA69-4147-8D43-423AF28F1AC7
KLAVI_SECRET_KEY=21896928-04AE-4DCF-B3A3-AF579C476FA2
KLAVI_PRODUCT_TYPE=OF
KLAVI_ENABLED=true
KLAVI_WEBHOOK_URL=https://api.nextgenassets.com.br/v1/webhooks/klavi
